*{
	font-size: 12px;
}
body{
	text-align:center;
	margin: 0px;
    padding: 0px;
} 
.main-doc{
	width:100%;
}
.header{
	width:100%
	clear: both;
	height:40px;
	margin:0;
	background: url("./imgs/header_bg.jpg") repeat-x scroll 0 0 #4f4e4e;
    direction: ltr;
    text-align: center;
	height:70px;
}
.header-content{
	margin: 0 auto;
    padding: 10px 0;
    text-align: left;
    width: 960px;
	
}

.body{
	border: 0px solid #d3d3d3;
	width:100%;
}
.body  .body-content{
	max-width:1000px;
	margin:0 auto;
}

.widgets ul{
	list-style: none ;
	
}

.widgets ul li{
	display: block;
    float: left;
    line-height: 150%;
    margin: 0;
    padding: 0;
    width: 100px;
}
.widgets ul li a{
	color: #444;
    padding: 0 5px 0 20px;
    text-decoration: none
}
.body .content{
	height:800px;
	width:100%;
}
.body .content .left-content{
	width:200px;
	float:left;
	border-right: 1px solid #d3d3d3;
	height:100%;
}
.body .content .right-content{
	float:left;
	height:100%;
	width:790px;
}

.widgets{
	background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #ddd;
    direction: ltr;
    height: 80px;
    margin-bottom: 10px;
    padding: 5px 10px;
	text-align: left;
}
.footer{
	padding: 20px;
    text-align: center;
	border-top: 1px solid #cccccc;
}

